@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Roboto:wght@300&display=swap');


$primary-color: #BAE8E8;
$secondary-color: #272643;
$faded-grey: #595959;
$darkerBlue: #2A7E7E;
$lighter-blue: #E3F6F5;
$color-white: #fafafa;
$even-lighter-blue: #F7FAFA;
$main-font: 'Fira Sans', sans-serif;
$seconardy-font: 'Roboto', sans-serif;