@use "../../assets/Scss/variables.scss" as *;

.skillsTreeGrid {
  width: 90%;
  text-align: center;
  margin: auto;

  &__header {
    margin: 4rem auto;
    font-size: 2.5rem;
    font-family: $secondary-font;
    color: $secondary-color;
    text-decoration: underline $primary-color;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 8rem;
    align-items: center;
    gap: 2rem 2rem;
    margin-bottom: 4rem;
  }
}
