@use "../../assets/Scss/variables" as *;
.home{
    display: flex;
    flex-direction: column;
    width: 70%;
    &__welcome{
        margin: 5rem 0 0 2rem;
        color: $faded-grey;
        font-family: $secondary-font;
        font-weight: 550;
    }
    &__description{
        margin: 0 0 2rem 1rem;
        font-family: $main-font;
        font-size: 3rem;
    }
    &__sub-heading{
        margin: 3rem;
        text-align: center;
        font-family: $main-font;
        color: $secondary-color;
        font-size: 2.5rem;
        text-decoration: underline $primary-color;
    }
    &__projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 716px) {
    .home {
      width: 70%;
      margin: auto;
    }
  }