@use "../../assets/Scss/variables" as *;


.slider {
    display: flex;
    align-items: center;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__button {
        background-color: transparent;
        border: none;
        height: 2rem;
        width: 2rem;
        border-radius: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--img{
            height: 2rem;
            width: 2rem;
            color: $secondary-color;
        }

        &--hidden {
            display: none;
        }
    }

    &__img {
        width: 10rem;
        height: 13rem;
        margin: 0 1rem;
        border-radius: 10px 10px 0 0;
    }
}