@use "../../assets/Scss/variables" as *;

.card {
  border: solid 1px;
  margin: 2rem auto;
  height: 35rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $primary-color;
    width: 90%;
    margin: 1rem auto;
    height: 15rem;
    padding-top: 1rem;
  }
  &__image {
    width: 60%;
    height: 90%;
    border-radius: 0.6rem 0.6rem 0 0;
  }
  &__content {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5rem;
  }
  &__subHeadings {
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    color: $darkerBlue;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__title{
    font-family: $seconardy-font;
    color: $secondary-color;
    font-weight: 1000;
    margin-bottom: 1rem;
  }
  &__overview {
    font-family: $main-font;
    margin-bottom: 1rem;
}
  &__buttons {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-bottom: 1rem;
  }
}
